@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --color-1-dark: #7367f0;
  --color-1-light: #ce9ffc;
  --white: #fff;
  --font-family: "Lato", sans-serif;
  --box-shadow: 0px 5px 12px rgba(115, 106, 106, 0.44);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: var(--font-family);
  font-weight: 400;
}

.header {
  background: linear-gradient(
    169.19deg,
    var(--color-1-light) 0%,
    var(--color-1-dark) 100%
  );
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.2rem;
  color: var(--white);
}

.main {
  margin: 2rem 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transfer {
  width: 60vw;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transfer .text {
  font-size: 1.6rem;
}

.flags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flags img {
  height: 2.5rem;
}

.flags-arrow {
  font-size: 2rem;
}

.input-form {
  margin-top: 1rem;
  width: 60vw;
  height: 20vh;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
